.AppForm
h2{
	margin-top:20px;
	text-align:center;
    color:$base-grey;

}
.bt
{
	margin-top:20px;
	background-color:$base-white;
    color:$base-grey;
   text-align:center;

}
.pageform
{
background-color:$base-white;
color:$base-grey;
margin-top:5px 50px;
display:block;

}
.disp-h
{
display:none;
background-color:$base-white;
color:$base-grey;
margin-top:5px 50px;

}